[Unit]
Description=Starts llixhooot server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env node /usr/share/eduhoot/server/server.js
WorkingDirectory=/usr/share/eduhoot
Restart=always
RestartSec=2
RestartPreventExitStatus=0
StartLimitInterval=200
StartLimitBurst=9

[Install]
WantedBy=multi-user.target
Alias=eduhoot-server.service
